<h1>Make a list of your favorite things!</h1>

<form class="" action="/output" method="post">
  <label for="name">Name of favorite thing</label>
  <input type="text" name="name"><br>
  <label for="name">Rank of favorite thing</label>
  <input type="number" name="rank"><br>
  <input type="submit" name="submit" value="submit">
</form>
<div class="list">
  <ul>
  <% @list.each do |item| %>
  <li>Name: <%= item[0] %>, Rank: <%= item[1] %></li>
  <a href = '/delete/<%= item[2] %>'><input type="button"  name="delete" value="delete"></a>
  <% end %>
</ul>
</div>

<form class="" action="/sort" method="post">
  <input type="submit" name="sort" value="sort">
</form>
<form class="" action="/reset" method="post">
  <input type="submit" name="reset" value="reset">
</form>
